.page {
  padding-top: calc(var(--nav-height) + 32px);
  padding-bottom: var(--section-padding);
}

@media (min-width: 1024px) {
  .page {
    padding-top: calc(var(--nav-height) + 80px);
  }
}

.header {
  margin-bottom: 64px;
}

.grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 16px;
}

@media (min-width: 768px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
